{block content}
	<main role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-3">Objednávky v systému</h1>
				<p><a class="btn btn-primary btn-lg" n:href="Homepage:" role="button">Zpět</a></p>
			</div>
		</div>


		<div class="container">
          {control orderGrid}
		</div>
	</main>
{/block}

